.Switch-icon{
    margin-bottom: 24px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: solid 1px #fff;
    border-radius: 5px;
    background: #525252;
}